https://github.com/JuliaAcademy/DataScience

# Data

In [1]:
using BenchmarkTools
using DataFrames
using DelimitedFiles
using CSV
using XLSX
using Downloads

In [2]:
?Downloads

search: Downloads download Downloader

  The Downloads module exports a function download, which provides
  cross-platform, multi-protocol, in-process download functionality
  implemented with libcurl (https://curl.haxx.se/libcurl/). It is used for the
  Base.download function in Julia 1.6 or later.

  More generally, the module exports functions and types that provide
  lower-level control and diagnostic information for file downloading:

    •  download — download a file from a URL, erroring if it can't be
       downloaded

    •  request — request a URL, returning a Response object indicating
       success

    •  Response — a type capturing the status and other metadata about a
       request

    •  RequestError — an error type thrown by download and request on
       error

    •  Downloader — an object encapsulating shared resources for
       downloading

In [3]:
P = Downloads.download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programming_languages.csv")

"programming_languages.csv"

In [6]:
P,H = readdlm("programming_languages.csv",',';header=true);

In [7]:
P

73×2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ⋮
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

In [8]:
H

1×2 Matrix{AbstractString}:
 "year"  "language"

In [9]:
writedlm("programminglanguages_dlm.txt", P, '-')

In [18]:
# use CSV
C = CSV.read("programming_languages.csv", DataFrame);

In [21]:
@show typeof(C)
C[1:10,:]

typeof(C) = DataFrame

10×2 DataFrame
 Row │ year   language
     │ Int64  String31
─────┼───────────────────────────────────
   1 │  1951  Regional Assembly Language
   2 │  1952  Autocode
   3 │  1954  IPL
   4 │  1955  FLOW-MATIC
   5 │  1957  FORTRAN
   6 │  1957  COMTRAN
   7 │  1958  LISP
   8 │  1958  ALGOL 58
   9 │  1959  FACT
  10 │  1959  COBOL

In [22]:
@show typeof(P)
P[1:10,:]

typeof(P) = Matrix{Any}

10×2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"

In [23]:
names(C)

2-element Vector{String}:
 "year"
 "language"

In [27]:
@show C.year
@show C.language

C.year = [1951, 1952, 1954, 1955, 1957, 1957, 1958, 1958, 1959, 1959, 1959, 1962, 1962, 1962, 1963, 1964, 1964, 1964, 1966, 1967, 1968, 1969, 1970, 1970, 1972, 1972, 1972, 1973, 1975, 1978, 1980, 1983, 1984, 1984, 1984, 1985, 1986, 1986, 1986, 1987, 1988, 1988, 1989, 1990, 1991, 1991, 1993, 1993, 1994, 1995, 1995, 1995, 1995, 1995, 1995, 1997, 2000, 2001, 2001, 2002, 2003, 2003, 2005, 2006, 2007, 2009, 2010, 2011, 2011, 2011, 2011, 2012, 2014]
C.language = String31["Regional Assembly Language", "Autocode", "IPL", "FLOW-MATIC", "FORTRAN", "COMTRAN", "LISP", "ALGOL 58", "FACT", "COBOL", "RPG", "APL", "Simula", "SNOBOL", "CPL", "Speakeasy", "BASIC", "PL/I", "JOSS", "BCPL", "Logo", "B", "Pascal", "Forth", "C", "Smalltalk", "Prolog", "ML", "Scheme", "SQL ", "C++ ", "Ada", "Common Lisp", "MATLAB", "dBase III", "Eiffel", "Objective-C", "LabVIEW ", "Erlang", "Perl", "Tcl", "Wolfram Language ", "FL ", "Haskell", "Python", "Visual Basic", "Lua", "R", "CLOS ", "Ruby", "Ada 95", "Java", "Delphi ", "JavaScript", "PHP", "Rebol", "ActionScript", "C#", "D", "Scratch", "Groovy", "Scala", "F#", "PowerShell", "Clojure", "Go", "Rust", "Dart", "Kotlin", "Red", "Elixir", "Julia", "Swift"]

73-element Vector{String31}:
 "Regional Assembly Language"
 "Autocode"
 "IPL"
 "FLOW-MATIC"
 "FORTRAN"
 "COMTRAN"
 "LISP"
 "ALGOL 58"
 "FACT"
 "COBOL"
 "RPG"
 "APL"
 "Simula"
 ⋮
 "Scala"
 "F#"
 "PowerShell"
 "Clojure"
 "Go"
 "Rust"
 "Dart"
 "Kotlin"
 "Red"
 "Elixir"
 "Julia"
 "Swift"

In [29]:
describe(C)

2×7 DataFrame
 Row │ variable  mean     min       median  max        nmissing  eltype
     │ Symbol    Union…   Any       Union…  Any        Int64     DataType
─────┼────────────────────────────────────────────────────────────────────
   1 │ year      1982.99  1951      1986.0  2014              0  Int64
   2 │ language           ALGOL 58          dBase III         0  String31

In [30]:
@btime P,H = readdlm("programming_languages.csv",',';header=true);
@btime C = CSV.read("programming_languages.csv", DataFrame);

  119.900 μs (2438 allocations: 111.16 KiB)
  101.300 μs (245 allocations: 39.42 KiB)

In [33]:
# To write to a *.csv file using the CSV package
CSV.write("programminglanguages_CSV.csv", DataFrame(P, :auto),header=true)

"programminglanguages_CSV.csv"

In [34]:
CSV.write("programminglanguages_CSV_header.csv", C,header=true)

"programminglanguages_CSV_header.csv"

In [35]:
#read xlsx
T = XLSX.readdata("data/zillow_data_download_april2020.xlsx", #file name
    "Sale_counts_city", #sheet name
    "A1:F9" #cell range
    )

9×6 Matrix{Any}:
      "RegionID"  "RegionName"    …      "2008-03"      "2008-04"
  6181            "New York"             missing        missing
 12447            "Los Angeles"      1446           1705
 39051            "Houston"          2926           3121
 17426            "Chicago"          2910           3022
  6915            "San Antonio"   …  1479           1529
 13271            "Philadelphia"     1609           1795
 40326            "Phoenix"          1310           1519
 18959            "Las Vegas"        1618           1856

In [39]:
#Here, G is a tuple of two items. The first is an vector of vectors where each vector corresponds to a column in the excel file. And the second is the header with the column names.
G = XLSX.readtable("data/zillow_data_download_april2020.xlsx","Sale_counts_city");

In [40]:
G[1]

148-element Vector{Any}:
 Any[6181, 12447, 39051, 17426, 6915, 13271, 40326, 18959, 54296, 38128  …  396952, 397236, 398030, 398104, 398357, 398712, 398716, 399081, 737789, 760882]
 Any["New York", "Los Angeles", "Houston", "Chicago", "San Antonio", "Philadelphia", "Phoenix", "Las Vegas", "San Diego", "Dallas"  …  "Barnard Plantation", "Windsor Place", "Stockbridge", "Mattamiscontis", "Chase Stream", "Bowdoin College Grant West", "Summerset", "Long Pond", "Hideout", "Ebeemee"]
 Any["New York", "California", "Texas", "Illinois", "Texas", "Pennsylvania", "Arizona", "Nevada", "California", "Texas"  …  "Maine", "Missouri", "Wisconsin", "Maine", "Maine", "Maine", "South Dakota", "Maine", "Utah", "Maine"]
 Any[1, 2, 3, 4, 5, 6, 7, 8, 9, 10  …  28750, 28751, 28752, 28753, 28754, 28755, 28756, 28757, 28758, 28759]
 Any[missing, 1446, 2926, 2910, 1479, 1609, 1310, 1618, 772, 1158  …  0, 0, 0, 0, 0, 0, 0, 0, 1, 0]
 Any[missing, 1705, 3121, 3022, 1529, 1795, 1519, 1856, 1057, 1232  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1795, 3220, 2937, 1582, 1709, 1654, 1961, 1195, 1240  …  0, 0, 0, 0, 0, 0, 2, 0, 0, 0]
 Any[missing, 1890, 3405, 3224, 1761, 1914, 1743, 2022, 1115, 1236  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 2072, 3352, 3464, 1678, 1984, 1975, 2219, 1272, 1392  …  0, 0, 0, 0, 0, 1, 1, 0, 0, 0]
 Any[missing, 1876, 2962, 3371, 1468, 1739, 1809, 2248, 1171, 1138  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1981, 2017, 2979, 1480, 1635, 1965, 2207, 1193, 1042  …  0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 2195, 2595, 2869, 1475, 1598, 2074, 2372, 1319, 1089  …  0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
 Any[missing, 1579, 1865, 1915, 949, 1169, 1435, 1880, 873, 772  …  0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
 ⋮
 Any[3456, 2150, 3283, 2735, 1989, 1958, 3378, 2748, 1207, 1058  …  0, 1, 0, 1, 4, 0, 6, 0, 0, 0]
 Any[3652, 2537, 3620, 3197, 2137, 2177, 3728, 2959, 1384, 1221  …  0, 0, 0, 0, 0, 0, 4, 0, 0, 0]
 Any[3473, 2651, 3894, 3702, 2384, 2682, 3898, 3284, 1542, 1407  …  0, 0, 0, 0, 0, 2, 3, 0, 0, 0]
 Any[3900, 2504, 3511, 3549, 2242, 2270, 3570, 3058, 1433, 1235  …  0, 0, 2, 0, 0, 2, 6, 0, 1, 0]
 Any[4493, 2675, 3687, 3622, 2300, 2479, 3616, 3235, 1529, 1423  …  0, 0, 0, 0, 0, 3, 10, 0, 1, 0]
 Any[4266, 2759, 3414, 3619, 2233, 2503, 3581, 3254, 1479, 1266  …  0, missing, 0, 0, 0, 3, 5, 0, 2, 0]
 Any[4183, 2334, 2803, 2938, 1788, 2184, 3199, 2821, 1307, 1143  …  0, missing, 0, 0, 1, 1, 4, 0, 1, 0]
 Any[4232, 2594, 2969, 2930, 1917, 2337, 3189, 3097, 1356, 1239  …  0, missing, 0, 0, 0, missing, 8, 0, 2, 0]
 Any[3869, 2272, 2699, 2176, 1520, 1931, 2867, 2702, 1179, 1117  …  0, missing, 0, 0, 0, missing, 8, 0, missing, 0]
 Any[3938, 2394, 3338, 2866, 1876, 2192, 2934, 2810, 1276, 1315  …  0, missing, 0, 0, 0, missing, 5, 0, missing, 0]
 Any[4306, 2006, 2407, 2240, 1460, 2381, 2226, 2512, 1020, 1056  …  0, missing, 0, 0, 0, missing, 1, 0, missing, 1]
 Any[4054, 1522, 2682, 2100, 1626, 1620, 2325, 2547, missing, 1292  …  missing, missing, missing, missing, missing, missing, 2, 0, missing, 0]

In [41]:
G[2]

148-element Vector{Symbol}:
 :RegionID
 :RegionName
 :StateName
 :SizeRank
 Symbol("2008-03")
 Symbol("2008-04")
 Symbol("2008-05")
 Symbol("2008-06")
 Symbol("2008-07")
 Symbol("2008-08")
 Symbol("2008-09")
 Symbol("2008-10")
 Symbol("2008-11")
 ⋮
 Symbol("2019-03")
 Symbol("2019-04")
 Symbol("2019-05")
 Symbol("2019-06")
 Symbol("2019-07")
 Symbol("2019-08")
 Symbol("2019-09")
 Symbol("2019-10")
 Symbol("2019-11")
 Symbol("2019-12")
 Symbol("2020-01")
 Symbol("2020-02")

In [45]:
G[1][1][1:10]

10-element Vector{Any}:
  6181
 12447
 39051
 17426
  6915
 13271
 40326
 18959
 54296
 38128

In [46]:
G[2][1:10]

10-element Vector{Symbol}:
 :RegionID
 :RegionName
 :StateName
 :SizeRank
 Symbol("2008-03")
 Symbol("2008-04")
 Symbol("2008-05")
 Symbol("2008-06")
 Symbol("2008-07")
 Symbol("2008-08")

In [47]:
D = DataFrame(G...) # equivalent to DataFrame(G[1],G[2])

28759×148 DataFrame
   Row │ RegionID  RegionName                  StateName      SizeRank  2008-0 ⋯
       │ Any       Any                         Any            Any       Any    ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │ 6181      New York                    New York       1         missin ⋯
     2 │ 12447     Los Angeles                 California     2         1446
     3 │ 39051     Houston                     Texas          3         2926
     4 │ 17426     Chicago                     Illinois       4         2910
     5 │ 6915      San Antonio                 Texas          5         1479   ⋯
     6 │ 13271     Philadelphia                Pennsylvania   6         1609
     7 │ 40326     Phoenix                     Arizona        7         1310
     8 │ 18959     Las Vegas                   Nevada         8         1618
     9 │ 54296     San Diego                   California     9         772    ⋯
    10 │ 38128     Dallas                      Texas          10        1158
    11 │ 10221     Austin                      Texas          11        997
   ⋮   │    ⋮                  ⋮                     ⋮           ⋮         ⋮   ⋱
 28750 │ 396952    Barnard Plantation          Maine          28750     0
 28751 │ 397236    Windsor Place               Missouri       28751     0      ⋯
 28752 │ 398030    Stockbridge                 Wisconsin      28752     0
 28753 │ 398104    Mattamiscontis              Maine          28753     0
 28754 │ 398357    Chase Stream                Maine          28754     0
 28755 │ 398712    Bowdoin College Grant West  Maine          28755     0      ⋯
 28756 │ 398716    Summerset                   South Dakota   28756     0
 28757 │ 399081    Long Pond                   Maine          28757     0
 28758 │ 737789    Hideout                     Utah           28758     1
 28759 │ 760882    Ebeemee                     Maine          28759     0      ⋯
                                              144 columns and 28738 rows omitted

In [50]:
# define datafram from array
foods = ["apple", "cucumber", "tomato", "banana"]
calories = [105,47,22,105]
prices = [0.85,1.6,0.8,0.6]
dataframe_calories = DataFrame(item=foods,calories=calories)
dataframe_prices = DataFrame(item=foods,price=prices)

4×2 DataFrame
 Row │ item      price
     │ String    Float64
─────┼───────────────────
   1 │ apple        0.85
   2 │ cucumber     1.6
   3 │ tomato       0.8
   4 │ banana       0.6

In [52]:
# join datafram
DF = innerjoin(dataframe_calories,dataframe_prices,on=:item)

4×3 DataFrame
 Row │ item      calories  price
     │ String    Int64     Float64
─────┼─────────────────────────────
   1 │ apple          105     0.85
   2 │ cucumber        47     1.6
   3 │ tomato          22     0.8
   4 │ banana         105     0.6

In [53]:
DataFrame(T, :auto)

9×6 DataFrame
 Row │ x1        x2            x3            x4        x5       x6
     │ Any       Any           Any           Any       Any      Any
─────┼──────────────────────────────────────────────────────────────────
   1 │ RegionID  RegionName    StateName     SizeRank  2008-03  2008-04
   2 │ 6181      New York      New York      1         missing  missing
   3 │ 12447     Los Angeles   California    2         1446     1705
   4 │ 39051     Houston       Texas         3         2926     3121
   5 │ 17426     Chicago       Illinois      4         2910     3022
   6 │ 6915      San Antonio   Texas         5         1479     1529
   7 │ 13271     Philadelphia  Pennsylvania  6         1609     1795
   8 │ 40326     Phoenix       Arizona       7         1310     1519
   9 │ 18959     Las Vegas     Nevada        8         1618     1856

jld, npz, rda, and mat files.(Julia, Python, R, Matlab).
npz is zipped/non_zipped file contians multiple npy in python